@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    line-height: 1.2em;
    background-color: #202020;
}

/* ____SIDEBAR SINISTRA____ */
.cuore {
    background: rgb(19, 0, 36);
    background: linear-gradient(133deg, rgba(19, 0, 36, 1) 0%, rgba(89, 81, 160, 1) 24%, rgba(137, 111, 142, 1) 72%);
}

.ciao {
    background: rgb(19, 0, 36);
    background: linear-gradient(133deg, rgba(19, 0, 36, 1) 0%, rgba(81, 160, 99, 1) 24%, rgba(111, 142, 119, 1) 100%);
}

.sidebar {
    background-color: #000000;
}

.scroll-bar {
    width: 100%;
    height: 400px;
    overflow: auto;
}

.list-playlist {
    list-style-type: none;
}

.list-playlist li {
    padding: 0.3em;
}

.list-playlist li:hover{
    background-color: #343232;
    cursor: pointer;
}

/* sidebar attività amici */
.sidebar-amici {
    background-color: #000000;
}

.name-friend {
    font-size: 1em;
}

.description-friend {
    font-size: 0.7em;
}

.container-immagineAmici img {
    width: 3em;
}

/* ____MAIN CENTRALE____ */

.chevron-icon {
    background-color: #000000;
    border-radius: 50%;
    padding: 0.4em 0.5em 0.4em 0.5em;
}

/* altro di ciò che ti piace */
.dropdown-toggle {
    background-color: black;
    border: none;
    position: fixed;
    top: 2%;
    right: 18%;
}

.sezione-centrale h2 {
    font-size: 15px;
    font-weight: bold;
}

.sezione-centrale #homeAltroCheTiPiace {

    margin-top: 20%;
}

#homeAltroCheTiPiace {
    overflow: auto;
}

#homeAltroCheTiPiace .card-title {
    font-size: 0.8em;
    color: white;
}

#homeAltroCheTiPiaceCard a {
    text-decoration: none;
}

#homeAltroCheTiPiace .card {
    background-color: #343232;
}

.cardsAltroCheTiPiace a {

    text-decoration: none;
}

.inputCompare {
    display: block;
}


/*____ANNUNCI____*/
.container-annunci {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.image-annunci img {
    width: 180px;
}

.image-annunci {
    margin-right: 10px;
    max-width: fit-content;
    margin-right: 0;
}


.custom-button {
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #1ed760;
    transition: all 0.7s ease-in-out;
    color: black;
}

.btn-play:hover {
    transform: scale(1.1);
    background-color: #1ed760;
    color: black;
}

.btn-salva {
    color: #1ed760;
    background-color: black;
    margin-left: 20px;
}

.btn-salva:hover {
    background-color: #1ed760;
    color: black;
    transform: scale(1.1);

}

.btn-nascondi {
    transition: all 0.7s ease-in-out;
}

.btn-nascondi:hover {
    transform: scale(1.1);
}

.album-nascondi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-nascondi p {
    margin: 0;
}

.nascondi-annunci {
    background-color: #222222;
    color: #606060;
    padding: 3px 7px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 12px;
}

/*___SEZIONE BUONASERA____*/
.titolo-playlist {
    padding-left: 12px;
    font-weight: bold;
}

.card {
    background-color: rgba(255, 250, 250, 0.133);
    position: relative;
    border: none;
    color: white;
    margin-right: 20px;
    flex: 1 33.333%;
}


/* ____PLAYER____*/

/* canzone in riproduzione */

.container-song {
    display: flex;
    align-items: center;
}

.container-imgPlayer {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}

.container-imgPlayer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-descriptionPlayer p {
    margin: 0.2em;
}

/* comandi player */
.player {
    background-color: #202020;
    border-top: 1px solid #6c6b6b;
}

.container-player {
    width: 50%;
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 100%;
    background-color: #ccc4;
}

.progress {
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: #999;
}

.progress-bar:hover .progress {
    background-color: #1ed760;
}

.progress-bar:hover .progress::after {
    content: "";
    position: absolute;
    --size: 1em;
    width: 4.5em;
    height: 4.5em;
    right: 0;
    border-radius: 50%;
    background-color: #ddd;
    transform: translate(50%, calc(2px - 50%));
}

.icon-play {
    color: #222222;
    background-color: white;
    border-radius: 50%;
    padding: 0.3em 0.4em 0.3em 0.4em;
}

.colorIconPlayer {
    color: #1ed760;
}

/* barra volume */
.volume-bar {
    display: flex;
    align-items: center;
    gap: .7em;
}

.volume-bar .progress-bar {
    width: 6em;
}

.volume-bar .progress-bar:hover .progress::after {
    --size: .8em;
}



/*------------------------ALBUM PAGE-----------------------*/

#cover {
    height: 430px;
    background: rgb(231, 195, 60);
    background: linear-gradient(180deg, rgba(231, 195, 60, 1) 20%, rgba(18, 18, 18, 1) 100%);
    margin: 0 auto;
}

#p_Album {
    font-size: 8px;
}

#title_Album {
    font-size: 5em;
    font-weight: 900;
}

#dettagli_Album {
    font-size: 10px;

}

#cover_Album {
    background-color: white;
    width: 150px;
    height: 150px;
    box-shadow: 1px 0px 33px #5A4E20;
    background-size: contain;
}

.chevron-icon:hover {
    cursor: pointer;
    background-color: #7F6E2D;
}

.dropDown_Album {
    background-color: #413817;
}



/*-----------------------PAGINA ARTISTA------------------------------*/
.container-artista {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.col-12 {
    display: flex;
    align-items: center;
}

.col-12 div {
    margin-right: 10px;
}

.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1ed760;
    color: black;
    font-size: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.btn-circle:hover {
    transform: scale(1.1);
}

.btn-follow {
    font-size: 13px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    padding: 3px 7px;
    color: white;
    transition: all 0.7s ease-in-out;

}

.btn-follow:hover {
    cursor: pointer;
    background-color: #1ed760;
    border: #1ed760;
    color: #000000;
    transform: scale(1.1);
}

.play-follow div {
    margin-right: 15px;
}


/* @media screen and (max-width: 998px) {
    .sidebar-amici{
        display: none;
    }
} */


/* MEDIA MOBILE */

@media screen and (max-width: 481px) {

    .dropdown {
        display: none;
    }

    .chevron-icon {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .sidebar-amici {
        display: none;
    }

    .card-song {
        display: none;
    }

    .sezione-saluto {
        display: flex;
        margin-top: 20px;
    }

    .sezione-saluto h5 {
        font-size: 25px;
    }

    .sezione-saluto i {
        font-size: 25px;
        padding-left: 15px;
    }

    .sezione-saluto .bi-bell {
        margin-left: 200px;
    }

    .card {
        display: none;
    }

    .card-mobile {
        width: 50%;
    }

    .container-sidebar-mobile {
        display: flex;
        justify-content: space-around;


    }

    .container-sidebar-mobile i {
        font-size: 30px;

    }


    .container-annunci {
        border-radius: 20px;
    }

    .button-play {
        display: flex;
    }

    .player-container {
        display: none;
    }
}




/* MEDIA DESKTOP */

@media screen and (min-width: 481px) {
    .sezione-saluto i {
        display: none;
    }

    .sidebar-mobile {
        display: none;
    }

    .card-song-mobile {
        display: none;
    }

    .card-mobile {
        display: none;
    }
}